<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TicTac.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TicTac.Properties.Settings>
            <setting name="Location" serializeAs="String">
                <value>-1, -1</value>
            </setting>
            <setting name="DbName" serializeAs="String">
                <value />
            </setting>
            <setting name="DbAddress" serializeAs="String">
                <value />
            </setting>
            <setting name="DbUserName" serializeAs="String">
                <value />
            </setting>
            <setting name="DbPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="ArchitectId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="ProjectId" serializeAs="String">
                <value>-1</value>
            </setting>
            <setting name="PhaseId" serializeAs="String">
                <value>-1</value>
            </setting>
        </TicTac.Properties.Settings>
    </userSettings>
</configuration>