[project]
	description = A tiny, cloud-based time tracking app that supports connection loss!
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Tim Legrand (timlegrand)
[access "refs/for/refs/*"]
	read = group user/Tim Legrand (timlegrand)
	push = group user/Tim Legrand (timlegrand)
	label-Code-Review = -2..+2 group user/Tim Legrand (timlegrand)
	label-Verified = -1..+1 group user/Tim Legrand (timlegrand)
	rebase = group user/Tim Legrand (timlegrand)
	removeReviewer = group user/Tim Legrand (timlegrand)
	submit = group user/Tim Legrand (timlegrand)
[access "refs/heads/*"]
	read = group user/Tim Legrand (timlegrand)
	create = group user/Tim Legrand (timlegrand)
	push = +force group user/Tim Legrand (timlegrand)
	pushMerge = group user/Tim Legrand (timlegrand)
[access "refs/tags/*"]
	push = +force group user/Tim Legrand (timlegrand)
	pushTag = group user/Tim Legrand (timlegrand)
	pushSignedTag = group user/Tim Legrand (timlegrand)
